* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(213,225,239);
}

p {
    font-size: 17px;
    color: hsl(216, 15%, 48%);
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 25px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

#mainbox {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 10px;
    border-radius: 18px;
    padding-bottom: 30px;
    box-shadow: 1px 1px 25px 1px rgba(0, 0, 0, 0.05);
}

#mainbox * {
    margin : 9px;
}

#mainbox img {
    border-radius: 18px;
}

.mainh1 {
    padding-left: 2px;
    padding-right: 2px;
}

.mainp {
    padding-left: 28px;
    padding-right: 28px;
}
